{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    <div class="article">
        <h2>Titre de l’article</h2>
        <div class="metadata">
        rédigé le 10/10/2019
            <div class="content">
                <img src="https://picsum.photos/200/300" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem aut, cum modi at praesentium adipisci explicabo nemo tenetur accusantium.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem aut, cum modi at praesentium adipisci explicabo nemo tenetur accusantium.</p>

                <a href="{{ path('blog_show')}}" class="btn btn-primary">Détail de l’article</a>

            </div>
        </div>
    </div>

        <div class="article">
        <h2>Titre de l’article</h2>
        <div class="metadata">
        rédigé le 10/10/2019
            <div class="content">
                <img src="https://picsum.photos/200/300" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem aut, cum modi at praesentium adipisci explicabo nemo tenetur accusantium.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem aut, cum modi at praesentium adipisci explicabo nemo tenetur accusantium.</p>

                <a href="{{ path('blog_show')}}" class="btn btn-primary">Détail de l’article</a>

            </div>
        </div>
    </div>

        <div class="article">
        <h2>Titre de l’article</h2>
        <div class="metadata">
        rédigé le 10/10/2019
            <div class="content">
                <img src="https://picsum.photos/200/300" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem aut, cum modi at praesentium adipisci explicabo nemo tenetur accusantium.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem aut, cum modi at praesentium adipisci explicabo nemo tenetur accusantium.</p>

                <a href="{{ path('blog_show')}}" class="btn btn-primary">Détail de l’article</a>

            </div>
        </div>
    </div>
</section>
{% endblock %}
