{% extends 'base.html.twig' %}
{% block title %}Un article{% endblock %}
{% block body %}
<article>
<h2>Titre de l’article</h2>
<div class="metadata">rédigé le 10/10/2019</div>
<div class="content">
<img src="http://placehold.it/350x150" alt="">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Accusamus at laborum ducimus accusantium illum totam, suscipit enim cumque!
Illum, cum.</p>
<p>Itaque esse reiciendis culpa, consequuntur ipsa nemo unde ad?
Dolorem tempore quos, commodi consequuntur atque enim eaque molestias beatae
error!</p>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et,
magnam aspernatur quae nihil maxime pariatur animi ducimus recusandae dolore
nesciunt assumenda fugit numquam, exercitationem voluptatem explicabo dolores
odit delectus veniam laudantium saepe facere. Assumenda, itaque accusamus amet
quas culpa totam consequuntur enim ut sunt? Aut ipsum cum ab expedita atque?
</p>
<p>Saepe perferendis fugit reiciendis alias quae repellat ad
accusantium qui soluta quod ab dolores corporis neque, nulla impedit tempore
harum, molestias enim quis itaque consequuntur modi vero earum officia.
Exercitationem dolorem quasi maiores fugit ipsam consectetur similique ipsum
corporis iusto nam hic, ullam quam aut aliquid. Aspernatur blanditiis
accusamus fugiat!</p>
</div>
</article>
{% endblock %}